body {
  padding: 0 50px;
}

.operates {
  margin-top: 5%;
  margin-bottom: 40px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  border: 1px solid pink;
  border-radius: 30px;
}

.block {
  width: 300px;
  height: 200px;
  font-size: 15vh;
  text-align: center;
  border: 1px solid red;
  border-radius: 15px;
}

.dots {
  height: 200px;
  line-height: 200px;
  margin: 0 30px;
  font-size: 15vh;
}
